{
  "presets": [
    [
      "env", {
      "useBuiltIns": true,
      "modules": false,
      "targets": {
        "node": "8"
      }
    }
    ],
    "react",
    "stage-1"
  ],
  "env": {
    "production": {
      "plugins": [
        "array-includes",
        "transform-flow-strip-types",
        "transform-object-assign"
      ]
    },
    "commonjs": {
      "presets": [
        [
          "env", {
          "useBuiltIns": true,
          "targets": {
            "browsers": ["last 2 versions", "safari >= 7"]
          }
        }
        ],
        "react",
        "stage-1"
      ],
      "plugins": [
        "array-includes",
        "transform-flow-strip-types",
        "transform-object-assign"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ],
      "sourceMaps": "both"
    }
  }
}
