{
  "presets": [
    [
      "env", {
      "modules": false
    }
    ],
    "react",
    "stage-1"
  ],
  "compact": "true",
  "env": {
    "production": {
      "plugins": [
        "array-includes",
        "transform-flow-strip-types"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ],
      "sourceMaps": "both"
    }
  }
}
