{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["plugin:@typescript-eslint/recommended", "react-app", "prettier"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off"
  }
}
