/* stylelint-disable scale-unlimited/declaration-strict-value */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
@import '~normalize.css';
@import '../src/styles';

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
}

h1 {
  padding: 30px;
  text-align: center;
}

.rccs__demo {
  margin: 0 auto;
  max-width: 500px;
  width: 90%;

  form {
    margin-top: 30px;

    div {
      align-items: center;
      display: flex;
      justify-content: space-between;

      + div {
        margin-top: 15px;
      }
    }

    label {
      width: 80px;
    }

    input {
      border: 1px solid #ccc;
      border-radius: 6px;
      box-shadow: none;
      flex: 2;
      outline: none;
      padding: 5px 10px;
      transition: all 0.4s;

      &:active,
      &:focus {
        border-color: #666;
      }
    }
  }
}
