/* stylelint-disable scale-unlimited/declaration-strict-value */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i|Comfortaa');
@import '~normalize.css';
@import '../src/styles';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
}

h1 {
  font-family: Comfortaa, cursive;
  font-size: 28px;
  margin: 0;
  padding: 30px 0;
  text-align: center;
}

.rccs__demo {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  opacity: 1 !important;
  transition: 0.4s opacity;

  &__content {
    flex: 1;
    margin: 0 auto;
    max-width: 480px;
    padding: 15px;
  }

  &__footer {
    align-items: center;
    border-top: 1px solid #999;
    display: flex;
    justify-content: space-between;
    line-height: 1;
    margin-top: 30px;
    padding: 10px 15px;
  }

  form {
    margin-top: 30px;

    div {
      + div {
        margin-top: 15px;
      }

      > div {
        color: #999;
        margin-top: 5px;
      }

      &:nth-of-type(3) {
        align-items: center;
        display: flex;
        justify-content: space-between;

        input {
          &:first-child {
            flex: 2;
          }

          &:last-child {
            flex: 1;
            margin-left: 20px;
          }
        }
      }
    }

    input {
      border: 1px solid #ccc;
      border-radius: 6px;
      box-shadow: none;
      display: block;
      font-size: 20px;
      outline: none;
      padding: 10px;
      transition: all 0.4s;
      width: 100%;

      &:active,
      &:focus {
        border-color: #666;
      }
    }
  }
}

@media (min-width: 800px) {
  .rccs__demo {
    &__content {
      display: flex;
      max-width: 700px;
    }

    form {
      margin-left: 30px;
      margin-top: 0;
    }
  }
}
